/* Default body styling for all pages */
:root {
    --body-color: #2c2f33;
    --box-color: #36393f;
}

* {
    box-sizing: border-box;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
body {
    background-color: var(--body-color);
    color: black;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.main-page-content {
    flex: 1;
    margin: 10px;
}

/* nav styling */
nav {
    background-color: var(--box-color);
    position: sticky;
    top: 0;
    width: inherit;
    z-index: 10;
    border-bottom: 1px solid rgb(67, 71, 79);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
    position: relative;
    align-items: center;
    height: auto;
    transition: height 0.5s, ease-in;
}

.nav-container a {
    color: inherit;
    text-decoration: none;
    padding: 7px;
    margin-right: 0px;;
    margin-left: 10px;
    font-size: 1em;
}

.nav-container a.current {
    text-decoration: underline;
}

.nav-container > a {
    font-size: 2em;
    margin-left: 20px;
}

.nav-container > ul {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

@media only screen and (max-width: 550px) {
    .nav-container > ul {
        flex-direction: column;
        text-align: center;
    }
}

.nav-container li {
    display: inline;
}

/* footer */
footer {
    background-color: var(--box-color);
    width: inherit;
    padding: 20px, 0px;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-text > ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.footer-text a {
    color: inherit;
    text-decoration: none;
}

/* styling for prompt that appears when no data in feed / user profile */
.no-data-prompt {
    font-size: 4vw;
    text-align: center;
}

.no-data-prompt a {
    color: inherit;
    text-decoration: none;
}

/* using !important as some stylings in style.css override the hover on anchor */
a:hover {
    color: #c576f6 !important;
}