USE [BIClass];
GO
/****** Object:  StoredProcedure [Project2].[Load_DimOrderDate]    Script Date: 4/3/2022 3:47:19 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
-- =============================================
-- Author:		Konrad Rakowski
-- Create date: 2022-04-02
-- Description:	Loads data into [CH01-01-Dimension].[DimOrderDate]
-- =============================================
ALTER PROCEDURE [Project2].[Load_DimOrderDate] @UserAuthorizationKey INT
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    DECLARE @ProcStartTime DATETIME2 = SYSDATETIME();

    INSERT INTO [CH01-01-Dimension].[DimOrderDate]
    (
        OrderDate,
        [MonthName],
        MonthNumber,
        [Year],
        UserAuthorizationKey
    )
    SELECT DISTINCT
           OLD.OrderDate,
           OLD.[MonthName],
           OLD.MonthNumber,
           OLD.[Year],
           @UserAuthorizationKey
    FROM FileUpload.OriginallyLoadedData AS OLD;

    EXEC ('DROP VIEW IF EXISTS G9_5.uvw_DimOrderDate');

    EXEC ('CREATE VIEW G9_5.uvw_DimOrderDate AS
	SELECT DOD.OrderDate,
           DOD.[MonthName],
           DOD.MonthNumber,
           DOD.[Year],
           DOD.UserAuthorizationKey,
           DOD.DateAdded,
           DOD.DateOfLastUpdate FROM [CH01-01-Dimension].DimOrderDate AS DOD');

    DECLARE @ProcEndTime DATETIME2 = SYSDATETIME();

    DECLARE @ProcWorkFlowTableRowCount INT =
            (
                SELECT COUNT(*)FROM [CH01-01-Dimension].DimOrderDate
            );

    EXEC Process.usp_TrackWorkFlows @UserAuthorizationKey = @UserAuthorizationKey,
                                    @WorkFlowDescription = N'[Project2].[Load_DimOrderDate] is loading data into [CH01-01-Dimension].[DimOrderDate]',
                                    @WorkFlowStepTableRowCount = @ProcWorkFlowTableRowCount,
                                    @StartTime = @ProcStartTime,
                                    @EndTime = @ProcEndTime;
END;