
/* general stylings */
.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-page-content > div {
    flex-grow: 0.5;
    width: 100%;
}

.main-page-content > .carousel-container {
    flex-grow: 2;
}

/* stylings for prompt and welcome text */
.welcome-back-message, .prompt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-back-message > #welcome-text {
    font-size: 3.5vw;
    padding: 10px;
}

.welcome-back-message > #welcome-text > a, .prompt > .prompt-text > a {
    color: inherit;
    text-decoration: none;
}

.prompt {
    text-align: center;
}

.prompt > .prompt-text {
    font-size: 2.5vw;
}

.prompt > .prompt-text > a {
    font-size: 2vw;
}

/* stylng for carousel - https://github.com/bradtraversy/50projects50days/blob/master/image-carousel-container/style.css */

.carousel-container{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel-container > div {
    margin: auto;
}

.carousel-container > .carousel {
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    margin: 0;
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    z-index: 0;
}
