.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feed-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.feed-image > img {
    height: 18vh;
    width: 12vh;
    margin: auto;
}

/* https://github.com/bradtraversy/50projects50days/blob/master/scroll-animation/style.css */

.feed-box {
    width: 60%;
    height: 20vh;
    margin: 5px;
    background-color: var(--box-color);
    display: flex;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.feed-box:nth-of-type(even) {
    transform: translateX(-400%);
    background-color: rgb(74, 78, 87);
}

.feed-box.show {
    transform: translateX(0);
}

.feed-box:first-of-type {
    margin-top: 1.5%;
}

.feed-box:last-of-type {
    margin-bottom: 1.5%;
}

.feed-info > span {
    font-size: 4vh;
}

.feed-image {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-info {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}