.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

table {
    width: 100%;
}

th, td {
    width: calc(100%/3);
    text-align: center;
    font-size: 3.8vh;
}

td > img {
    height: 20vh;
}